header {
    background-color: rgb(59, 59, 59);
    position:fixed;
    margin-left: 5px;
    margin-top: 30px;
    width: 450px;
    height: 430px;
    /* padding:20px 20px 30px 20px; */
}
.container {
    width: 600px;
    margin: auto;
    padding: 15px;

}

.picture {
    margin-left: 10px;
    margin-top: 10px;
}

.profile-name {

font-size: 40px;
font-family: Roboto Mono,monospace;
color: rgb(255, 253, 253);
margin-left: 8px;

}

.profile-name-content {
font-family: Roboto,sans-serif;
font-size: 20px;
color: rgb(255, 253, 253);
font-weight: lighter;
margin-left:8px;


}

.titles
{
margin-bottom: 26px;
font-size: 36px;
font-family: Roboto Mono,monospace;
color: rgb(255, 253, 253);
background-color: rgb(87, 87, 87);


}

.description {
font-family: Roboto,sans-serif;
font-size: 18px;
font-weight: lighter;
line-height: 30px;
color: rgb(37, 37, 37);
/* background-color: rgb(53, 53, 53); */
}

.skills-list {
font-family: Roboto,sans-serif;
font-size: 18px;
font-weight: lighter;
line-height: 30px;
color: rgb(37, 37, 37);
}

